body {
  background-color: rgb(225 173 225);
  color: black;
  text-align: center;
  font-family: "Press Start 2P";
  font-weight: bold;
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: "Press Start 2P";
}

.glitter-text {
  margin: 35px auto 15px auto;
  background-image: url(https://i.pinimg.com/originals/78/36/be/7836bebefc157a613f1cf99fd56edd12.gif);
  background-position: center;
  font-size: 4rem;
  height: 100%;
  width: 100vw;
  background-size: contain;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p {
  margin: 0px 150px;
  font-size: 12px;
  line-height: 17px;
  padding: 15px;
}

#butterfly {
  height: 100px;
  width: 100px;
  margin-top: 15px;
}

.container {
  margin: 20px 60px;
}

#inputs {
  margin: 15px auto 30px auto;
}

div.nes-field {
  width: auto;
  display: inline-block;
  margin: 0px 30px;
}

.nes-field .nes-input,
.nes-field .nes-textarea {
  background: #e6c2f0;
}

#love-score {
  display: none;
}

#score {
  font-size: 5rem;
}

.nes-btn {
  margin: 30px;
}

@media screen and (max-width: 660px) {
  .glitter-text {
    font-size: 2rem;
  }

  p {
    margin: 10px;
  }

  .screen-full {
    display: none;
  }

  #butterfly {
    margin-top: 0px;
    height: 50px;
    width: 50px;
  }

  #score {
    font-size: 4rem;
    margin: 0px;
  }

  #name_field {
    padding: 0px;
  }

  div#inputs {
    margin: 0px;
  }
}
